services:
  app:
    container_name: inzite-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
    env_file:
      - .env
